.header {
    display: inline;
    float: left;
    max-width: 100%;
    width: 100%;
}

.logo {
    width: 20%;
    float: left;
}

.logo img {
    max-width: 100%;
}

.nav {
    width: 60%;
    float: left;
    text-align: center;
}

.nav li {
    display: inline;
    text-align: center;
    margin: 2%;     
}

.nav li a {
    text-decoration: none;
}

.search {
    width: 20% ;
    float: left;
}

ul.nav-links {
    width: 100%;
}

.flex-col-1 {
    width: 80%;
    float: left;
    margin: auto auto;
    padding: auto auto;
}

.flex-col-2 {
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    margin: auto auto;
    padding: auto auto;
}

.content-middle {
    max-width: 100%;
    text-align: center;
    margin: 0;
    display: flex;
}
.content-middle a{
    border: 2px solid black;
    text-decoration: none;
    padding: 1% 0%;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 2%;
}

.content-bottom h1{
    text-align: center;
    text-transform: uppercase;
}

.content-bottom h6 {
    text-align: center;
}

.show-all {
    text-align: center;
}

.About-us{
    background-image: url(https://cdn.elly.vn/uploads/2021/02/06142841/mlhtrend-1024x184.jpg);
    display:flex;
    color: white;
}

.about-us-top {
    text-align: center;
    width: 100%;
}

.about-us-middle {
    text-align: center;
    width: 100%;
}

.about-us-bottom {
    text-align: center;
    width: 100%;
}


#footer {
    background-color: #000;
    height: auto;
}

.header-sign-up {
    padding: 20px 0px;
}
.btn-sign-up button{
    background-color: #fff;
    color: #000;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    padding: 10px 20px;

}

.footer1 {
    margin: 0px !important;
}

.input-mail input {
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;

}

.input-mail {
    display: flex;
}

.btn-sign-up:hover button {
    background-color: #ff0000 !important;
    transition: 0.5s ease;
}

.pd-top-10 {
    padding-top: 10px;
}

.subnav li {
    padding: 10px 0px;
}

.subnav li a {
    text-decoration: none;
    color: #fff;
}

.subnav a:hover {
    color: darkorange;
    transition: 0.5s ease;
}

ul {
    padding: 0px !important;
}

.footer1 {
    max-width: 100% !important;
}
.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px ;
}
ion-icon{
    font-size: 30px;
    margin-right: 10px;
}

ion-icon:hover {
    color: #ccc;
    transition: 0.5s ease;
}